<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let article of articles; let i = index">
      
      <app-new [article]="article" [row]="i"></app-new>
      
    </ion-col>
  </ion-row>
</ion-grid>
