<ion-card color="dark">

  <ion-card-header>
    <ion-card-subtitle>
      
      <span class="text-primary">{{ row + 1 }}</span>
      <span class="news-source-name"> {{ article.source.name }}</span>
     
      <div class="new-more">
        <ion-button (click)="launchMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-subtitle>
    <ion-card-title (click)="opeNews()">{{ article.title }}</ion-card-title>
  </ion-card-header>

  <ion-img 
    (click)="opeNews()"
    *ngIf="article.urlToImage"
    [src]="article.urlToImage"
    class="animated fadeIn fast">
  </ion-img>

  <ion-card-content>
    <p>
      {{ article.description }}
    </p>
  </ion-card-content>

</ion-card>