<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
 
  <ion-slides [options]="slidesOptions" *ngIf="localDataService.articles.length === 0">
    <ion-slide>
      You don't have saved favorites
    </ion-slide>
  </ion-slides>

  <app-news 
    *ngIf="localDataService.articles.length > 0"
    [articles]="localDataService.articles"></app-news>

</ion-content>
