<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" class="ion-no-border" 
      [value]="categories[0]" 
      (ionChange)="changeCategory($event)">
      
    <ion-segment-button mode="md" 
      *ngFor="let category of categories"
      [value]="category" >

      <ion-label class="ion-text-capitalize" > 
       {{ category }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content color="dark">
  
  <app-news [articles]="articles"></app-news>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


